
{% set module_name = 'java' %}
{% set submodule_name = 'adoptopenjdk' %}
{% set grain_files = ['os_family', 'os', 'osfinger'] %}
{% set load_default = True %}

{% set ns = namespace(data = {}) %}

{% if load_default %}
	{% import_yaml module_name ~ '/defaults/defaults.yaml' as defaults %}
	{% set ns.data = salt['slsutil.merge'](ns.data, defaults) %}
{% endif %}



{% set adoptopenjdk = ns.data %}
