
{% set grain_files = ['os_family', 'os', 'osfinger'] %}
{% import_yaml 'java/defaults/defaults.yaml' as defaults %}
{% if defaults.adoptopenjdk is defined %}
	{% set adoptopenjdk = defaults.adoptopenjdk %}
{% else %}
	{% set adoptopenjdk = {} %}
{% endif %}

{% for grain_file in grain_files %}
	{% set adoptopenjdk = salt['slsutil.merge'](adoptopenjdk, {grain_file : True}) %}
	{#% import_yaml 'java/defaults/' ~ grain_file ~ '.yaml' as lookup_dict %#}
	{#% set filtered_data = salt['grains.filter_by'](lookup_dict, grain = grain_file) %#}
	{#% if filtered_data.adoptopenjdk is defined %#}
		{#% set adoptopenjdk = salt['slsutil.merge'](adoptopenjdk, filtered_data.adoptopenjdk) %#}
	{#% endif %#}
{% endfor %}

{% set adoptopenjdk = salt['slsutil.merge'](adoptopenjdk, salt['pillar.get']('java:adoptopenjdk', default = {})) %}
