
{% import_yaml 'java/defaults/defaults.yaml' as defaults %}
{% if defaults.oracle is defined %}
{% set data = defaults.oracle %}
{% else %}
{% set data = {} %}
{% endif %}

{%- for grain in ['os_family', 'os', 'osfinger'] %}
{% import_yaml 'java/defaults/' ~ grain ~ '.yaml' as lookup_dict %}
{% set filtered_data = salt['grains.filter_by'](lookup_dict, grain = grain) %}
{% if filtered_data.oracle is defined %}
{% set data = salt['slsutil.merge'](data, filtered_data.oracle) %}
{% endif %}
{%- endfor %}

{% set data = salt['slsutil.merge'](data, salt['pillar.get']('java:oracle', default = {})) %}
{% set oracle = data %}
